@model PersonalBlogWebSite.Models.EntitiesClass.BlogDetailsModel
@{
    ViewBag.Title = "MainBlog";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/WebBlog/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/WebBlog/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="~/WebBlog/js/move-top.js"></script>
    <script type="text/javascript" src="~/WebBlog/js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <!---->

</head>
<body>
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid">
                        @Html.Action("PartialBlog","Blog")
                    </div>
                </div>
                <div class="col-md-4 content-right">
                    <div class="recent">
                        <h3>Son Bloglar</h3>
                        @foreach (var item in Model.LastBlog)
                        {
                            <ul>
                                <li><a href="/Blog/BlogDetails/@item.Id">@item.BlogTitle</a></li>
                            </ul>
                        }
                    </div>
                    <div class="comments">
                        <h3>Son Yorumlar</h3>
                        @foreach (var item in Model.LastComment)
                        {
                            <ul>
                                <li>
                                    @item.CommentUsername => <a href="/Blog/BlogDetails/@item.BlogId">@item.Blog.BlogTitle</a>
                                </li>
                            </ul>
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
</body>
</html>
