*.cs     linguist-language=csharp
*.cshtml linguist-language=csharp
*.aspx   linguist-language=csharp
*.csharp linguist-detectable=true  
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.css linguist-detectable=false
