
@{
    Layout = null;
}

<html>
<head>
    <title>emretpcu | Blog Web Site</title>
    <link rel="icon" href="~/Web/images/blogging.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/Admin/AdminBlogList/" class="w3-bar-item w3-button">Blog Listele</a>
        <a href="/Admin/AdminCommentList/" class="w3-bar-item w3-button">Yorum Listele</a>
        <a href="/Admin/AdminAbout" class="w3-bar-item w3-button">Hakkımda</a>
        <a href="/Admin/ContactList/" class="w3-bar-item w3-button">İletişim</a>
        <a href="/Admin/AdminUser/" class="w3-bar-item w3-button">Admin Hesabı</a>
        <a href="/Home/HomePage/" class="w3-bar-item w3-button">Ana Sayfaya Dön</a>
        <a href="/AdminLogin/LogOut/" class="w3-bar-item w3-button">Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:10%">

        <div class="w3-container w3-teal">
            <h1>Admin Panel</h1>
        </div>
        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>

